<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="h6 font-weight-bold text-center mb-4">YOYO WEB APP</h2>

                    <div id="session-start" class="progress mx-auto" data-value='0'>
                        <span class="progress-left">
                            <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar border-primary"></span>
                        </span>
                        <div id="btn-progress" class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div id="progress-value" class="h2 font-weight-bold">Start</div>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-4 border-right">
                            <div id="level" class="h4 font-weight-bold mb-0">--</div><span class="small text-gray">Level</span>
                        </div>
                        <div class="col-4 border-right">
                            <div id="shuttle" class="h4 font-weight-bold mb-0">--</div><span class="small text-gray">Shuttle</span>
                        </div>
                        <div class="col-4 border-right">
                            <div id="speed" class="h4 font-weight-bold mb-0">--</div><span class="small text-gray">Speed</span>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-4 border-right">
                            <div id="next_shuttle" class="h4 font-weight-bold mb-0">--</div><span class="small text-gray">Next Shuttle</span>
                        </div>
                        <div class="col-4 border-right">
                            <div id="total_time" class="h4 font-weight-bold mb-0">00:00</div><span class="small text-gray">Total Time</span>
                        </div>
                        <div class="col-4">
                            <div id="total_distance" class="h4 font-weight-bold mb-0">--</div><span class="small text-gray">Total Distance</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-6 mb-4">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 mb-4">
                        <div class="bg-white rounded-lg p-5 shadow" id="athele_board">

                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade right" id="editResultPop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-side modal-top-right" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Edit Result</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="modal-level" id="modal-level" value="" />
                            <input type="text" name="modal-shuttle" id="modal-shuttle" value="" />
                            <input type="hidden" name="modal-id" id="modal-id" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="UpdateResult()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">

    $('#shuttle').bind('contentchanged', function () {
        var shuttle = $("#shuttle");
        shuttle.css('color', 'red');
        shuttle.animate({ "font-size": "4em" }, 100);
        shuttle.animate({ "font-size": "2em" }, 100);
    });

    $('#level').bind('contentchanged', function () {
        var level = $("#level");
        level.css('color', 'red');
        level.animate({ "font-size": "4em" }, 100);
        level.animate({ "font-size": "2em" }, 100);
    });

    function LoadProgressBar(value) {
        $(".progress").each(function () {

            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value >= 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)');
                    left.css('transform', 'rotate(0deg)');
                } else {
                    right.css('transform', 'rotate(180deg)');
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)');
                }
            }
        });
    }

    function percentageToDegrees(percentage) {
        return percentage / 100 * 360
    }

    function LoadAthletes() {
        $.ajax({
            url: "/Test/GetAthletes",
            type: "GET",
            success: function (result) {
                var athleleBoard = document.getElementById('athele_board');
                for (var i = 0; i < result.length; i++) {
                    athleleBoard.innerHTML = athleleBoard.innerHTML += BuildAthleteRowHtml(result[i])
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function WarnAthlete(athleteId) {
        $.ajax({
            url: `/Test/WarnAthlete?id=${athleteId}`,
            type: "POST",
            success: function (result) {

                var msg = `Athlete ${athleteId} warned successfully.`;
                console.log(msg);
            },
            error: function (error) {
                console.log(error);
            }
        });
    };

    function StopAthlete(athleteId) {
        $.ajax({
            url: `/Test/StopAthlete?id=${athleteId}`,
            type: "POST",
            success: function (result) {

                var msg = `Athlete ${athleteId} Stopped successfully.`;
                console.log(msg);
            },
            error: function (error) {
                console.log(error);
            }
        });
    };

    function LoadResult(id, level, shuttle) {

        var modid = $("#modal-id");
        var modlevel = $("#modal-level");
        var modshuttle = $("#modal-shuttle");

        modid.val(id);
        modlevel.val(level);
        modshuttle.val(shuttle);

        $("#editResultPop").modal("show");
    }

    function UpdateResult() {

        var id = $("#modal-id").val();
        var level = $("#modal-level").val();
        var shuttle = $("#modal-shuttle").val();

        var resultTab = $(`#result-${id}`);
        var result = `${level}-${shuttle}`;

        resultTab.html(result);

        var resultEdit = $(`#result-edit-${id}`);
        resultEdit.attr('onclick', `LoadResult(${id},${level},${shuttle})`);

        $("#editResultPop").modal("hide");
    }

    function BuildAthleteRowHtml(athlete) {

        var nameStrip = `<div class="col-4 border-right"><div id="name-${athlete.id}" class="btn btn-md center-block" Style="width: 100px;">${athlete.name}</div></div>`;
        var stateStrip = `<div class="col-2 border-right"><div id="state-${athlete.id}" class="btn btn-md center-block" Style="width: 100px;"></div></div>`;
        var buttonStrip = GetButtonStrip(athlete);

        var resultStrip = `<div class="col-2 border-right"><div id="result-${athlete.id}" class="btn btn-md center-block" Style="width: 100px;"></div><svg onclick="LoadResult(${athlete.id},${athlete.speedLevel},${athlete.shuttleNo})" title="Edit Result" id="result-edit-${athlete.id}" style="display:none;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path  fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/></svg></div>`;

        var rawhtml = '<div class="row text-center mt-4">' + nameStrip + buttonStrip + stateStrip + resultStrip + '</div>';

        return rawhtml;
    }


    function GetButtonStrip(athlete) {

        var buttonstrip = '';

        switch (athlete.state) {
            case 0:
                buttonstrip = `<div class="col-2 border-right"><button type="button" id="warn-${athlete.id}" class="btn btn-warning btn-md center-block" Style="width: 100px;" onclick="WarnAthlete(${athlete.id})"></button></div><div class="col-2 border-right"><button type="button" id="stop-${athlete.id}" class="btn btn-danger btn-md center-block" Style="width: 100px;" onclick="StopAthlete(${athlete.id})"></button></div>`;
                break;

            default:
                buttonstrip = '';
                break;
        }

        return buttonstrip;
    }

    $(document).ready(function () {

        var running = false;
        LoadAthletes();

        $(document).on('click', '#session-end', function (event) {

            Stop();
            var comp = $("#session-end");
            comp.text('Completed');
            comp.prop('id', '');
            comp.prop('class', 'btn-start');
        });

        $("#session-start").click(function () {
            if (running === false) {
                Start();
                running = true;
                $("#session-end").show();
            }
        });

        function Start() {

            var getWebSocketMessages = function (onMessageReceived) {

                var url = `wss://${location.host}/Test/Start`;

                var webSocket = new WebSocket(url);

                webSocket.onmessage = onMessageReceived;
            };

            var nextShuttle = $('#next_shuttle');
            var totalTime = $('#total_time');
            var toatlDistance = $('#total_distance');

            var level = $('#level');
            var shuttle = $('#shuttle');
            var speed = $('#speed');
            var progress = $('#progress-value');


            getWebSocketMessages(function (message) {

                var data = JSON.parse(message.data);

                if (data.IsCompleted === true)
                    return;
                var oldLevel = +level.text();
                var oldShuttle = +shuttle.text();

                if (oldLevel != data.Level)
                    level.trigger('contentchanged');

                if (oldShuttle != data.Shuttle)
                    shuttle.trigger('contentchanged');

                nextShuttle.html(`${data.NextShuttle.Minute} : ${data.NextShuttle.Second}`);
                totalTime.html(`${data.TotalTime.Minute}:${data.TotalTime.Second}`);
                toatlDistance.html(`${data.TotalDistance}<sup class="small">m</sup>`);
                level.html(`${data.Level}`);
                level.css('color', 'black');
                shuttle.html(`${data.Shuttle}`);
                shuttle.css('color', 'black');
                speed.html(`${data.Speed}<sup class="small">Km/h</sup>`);
                progress.html(`${data.Progress}<sup class="small">%</sup>`);

                LoadProgressBar(data.Progress);

                for (var i = 0; i < data.Athletes.length; i++) {

                    var athlete = data.Athletes[i];

                    var warnButton = $(`#warn-${athlete.Id}`);
                    var stopButton = $(`#stop-${athlete.Id}`);
                    var state = $(`#state-${athlete.Id}`);

                    if (athlete.State === 1) {
                        //RUNNING
                        state.text('Running');
                        warnButton.show();
                        warnButton.text('Warn');
                        warnButton.prop("disabled", false);
                        warnButton.prop('class', 'btn btn-warning');

                        stopButton.show();
                        stopButton.text('Stop');
                        stopButton.prop("disabled", false);
                        stopButton.prop('class', 'btn btn-danger');
                    }
                    else if (athlete.State === 2) {
                        //WARNED
                        state.text('Warned');
                        warnButton.text('Warned');
                        warnButton.prop('disabled', true);

                        stopButton.text('Stop');
                        stopButton.show();
                        stopButton.prop('class', 'btn btn-danger');
                    }
                    else if (athlete.State === 3) {

                    }
                    else if (athlete.State === 4) {
                        //FINISHED
                        state.text('Completed');
                        warnButton.fadeOut();
                        stopButton.fadeOut();
                    }
                    else if (athlete.State === 5) {
                        //STOPPED
                        state.text('Stopped');
                        warnButton.fadeOut();
                        stopButton.fadeOut();
                    }

                    var resultTab = $(`#result-${athlete.Id}`);
                    var resultValue = resultTab.html();

                    if (athlete.Result != null && resultValue == '') {

                        var result = `${athlete.Result.SpeedLevel}-${athlete.Result.ShuttleNo}`;
                        resultTab.html(result);

                        var resultEdit = $(`#result-edit-${athlete.Id}`);
                        resultEdit.attr('onclick', `LoadResult(${athlete.Id},${athlete.Result.SpeedLevel},${athlete.Result.ShuttleNo})`);
                        resultEdit.show();
                    }
                }
            });
        };

        function Stop() {
            $.ajax({
                url: "/Test/Stop",
                type: "POST",
                success: function (result) {
                    console.log('Test completed successfully.');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>